* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font: 400 14px Roboto, sans-serif;
  color: #303030;
  background: #eee;
  -webkit-font-smoothing: antialiased;
}

html,
body,
#app {
  height: 100%;
}

input,
button,
textarea {
  font: 400 18px Nunito, sans-serif;
}

button {
  cursor: pointer;
}
